.content-menu {
    padding-top: 60px;
}

.pizza {
    display: flex;
    gap: 16px;
    padding: 8px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.pizza:last-child {
    border-bottom: 0;
}

.menu-pizzas {
    margin-top: 60px;
}

.pizza__image {
    width: 100px;
    height: 100px;
}

.pizza__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pizza__name {
    font-weight: 600;
}

.pizza__ingredients {
    font-style: italic;
    margin-bottom: 10px;
}

.pizza__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizza__price {
    font-size: 20px;
}

.pizza-counter {
    display: flex;
}

.pizza-count {
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 0 13px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(234, 179, 8);
}

.button-delete {
    margin-left: 30px;
}
