.content-menu {
    padding-top: 60px;
}

.pizza {
    display: flex;
    gap: 16px;
    padding: 8px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.pizza:last-child {
    border-bottom: 0;
}

.pizza__image {
    width: 100px;
    height: 100px;
}

.pizza__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pizza__name {
    font-weight: 600;
}

.pizza__ingredients {
    font-style: italic;
    margin-bottom: 10px;
}

.pizza__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizza__price {
    font-size: 20px;
}
