.welcome-content {
    text-align: center;
}

.welcome-content h1 {
    font-size: 48px;
    font-weight: 700;
}

.welcome-content h3 {
    font-size: 24px;
    font-weight: 600;
}
.welcome-content p {
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
}
